<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/favourites.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <title>THE PERFECT PANTRY | HOMEPAGE</title>
    <div class="homepage"> 
        <div class="categories">
            <div class="app-details"> 
                <div class="app-logo"><img class="logo-img" src="./assets/general-images/logo.png"></div> 
                <div class="app-name">The Perfect Pantry</div>
            </div> 
            <div class="category-title">Favourites</div> 
            <div class="back-home"> 
                <form action="/">
                    <button class="home-btn">Back To Home</button>
                </form>
            </div>
            <div class="logout-btn"> 
                <form action="/logout" method="POST">
                    <button class="logout" type="submit">Logout</button> 
                </form>
            </div>
        </div>
        <div class="display-container"> 
            <div class="options-tab"> 
                <div class="search-bar">
                    Favourites
                </div> 
                <div class="cart"> 
                    <a href="/cart"><img class="cart-img" src="./assets/general-images/shopping-cart.png" alt="cart-option"></a>
                </div>
                <div class="profile">
                    <a href="/profile"><img class="profile-img" src="./assets/general-images/account.png" alt="profile-option"></a>
                </div>
            </div> 
            <div class="favourite-items"> 
                <div class="favourite-heading"></div>  
                <div class="pantry-items">
                    <div id="favourite-items-carousel" class="favourite-items-carousel"> 
                        <div class="scroll-btn"><img class="prev-btn" src="./assets/general-images/previous.png"></div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove from Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="grocery-card"> 
                        <div class="grocery-img"><img class="img-item" src="./assets/groceries/fruits/apple.jpg"></div> 
                        <div class="grocery-name">Apple</div> 
                        <div class="count-price">10 left | Rs.10/KG </div> 
                        <div class="add-options">
                            <div class="add-to-cart"><button class="cart-add">Add to Cart</button></div>
                            <div class="favorite"><img class="fav-img" title="Remove From Favourites" src="./assets/general-images/cancel.png"></div>
                        </div>
                        </div>
                        <div class="scroll-btn"><img class="next-btn" src="./assets/general-images/next.png"></div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</head>
<body>
    <script src="./scripts/favourites.js"></script>
</body>
</html>