<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />

    <title>THE PERFECT PANTRY | HOMEPAGE</title>
  </head>
  <body>
    <div class="homepage">
      <div class="categories">
        <div id="app-details" class="app-details">
          <div class="app-logo">
            <img class="logo-img" src="./assets/general-images/logo.png" />
          </div>
          <div class="app-name">The Perfect Pantry</div>
        </div>
        <div class="category-title">Categories</div>
        <div id="category-fruits" class="category-fruits">Fruits</div>
        <div id="category-vegetables" class="category-vegetables">
          Vegetables
        </div>
        <div id="category-pasteries" class="category-pasteries">Pasteries</div>
        <div id="category-beverages" class="category-beverages">Beverages</div>
        <div id="category-dairy" class="category-dairy">Dairy</div>
        <div id="category-snacks" class="category-snacks">Snacks</div>
        <div class="logout-btn">
          <form action="/logout" method="POST">
            <button class="logout" type="submit">Logout</button>
          </form>
        </div>
      </div>
      
        <div id="display-container" class="display-container">
          <div class="options-tab">
            <div class="search-bar">
              <input
                id="search-input"
                list="search-dropdown"
                class="search-input"
                type="text"
                name="search-bar"
                placeholder="Search here"
              />
              <datalist id="search-dropdown"></datalist>
              <img
                class="search-icon"
                src="./assets/general-images/search.png"
              />
            </div>
            <div class="cart">
              <a href="/cart"
                ><img
                  id="cart-img" class="cart-img"
                  src="./assets/general-images/shopping-cart.png"
                  alt="cart-option"
              /></a>
            </div>
            <div class="profile">
              <a href="/profile"
                ><img
                  class="profile-img"
                  src="./assets/general-images/account.png"
                  alt="profile-option"
              /></a>
            </div>
          </div>
          <div id="pantry-container">
          <div class="popular-items">
            <div class="popular-heading">Popular Items right now</div>
            <div class="pantry-items">
              <div id="popular-items-carousel" class="popular-items-carousel">
                <div class="scroll-btn">
                  <img
                    class="prev-btn"
                    src="./assets/general-images/previous.png"
                  />
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="grocery-card">
                  <div class="grocery-img">
                    <img
                      class="img-item"
                      src="./assets/groceries/fruits/apple.jpg"
                    />
                  </div>
                  <div class="grocery-name">Apple</div>
                  <div class="count-price">10 left | Rs.10/KG</div>
                  <div class="add-options">
                    <div class="add-to-cart">
                      <button class="cart-add">Add to Cart</button>
                    </div>
                    <div class="favorite">
                      <img
                        class="fav-img"
                        src="./assets/general-images/favourite.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="scroll-btn">
                  <img
                    class="next-btn"
                    src="./assets/general-images/next.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="fruits-container">
            <div id="pantry-items-heading" class="pantry-items-heading">
              Fruits
            </div>
            <div class="pantry-items">
              <div id="pantry-items-carousel" class="pantry-items-carousel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/index.js"></script>
    <!-- <script src="./scripts/cart.js"></script> -->
  </body>
</html>
