<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | Register</title>

</head>
<body>
        <div class="container"> 
        <div class="heading">Login Now</div> 
        <div class="form-container"> 

            <form id="login-form" action="/login" method="POST"> 
                <input type="email" name="email" placeholder="Enter your email"></input> 
                <input type="password" name="password" placeholder="Enter your password"></input>  
                <button type="submit">Login</button>
            </form> 
        <% if (message) { %>
            <%= message %>
        <% } %>
        
        </div>
        <div class="new-user"> 
            New to this page ? <a href="http://localhost:8080/register">Register Here</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>